@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");
/*
font-family: 'Spartan', sans-serif;
font-weight: 500, 600, 700
*/
.sr-only {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

body {
  height: 100vh;
}

body.no-scroll {
  height: 100%;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
  max-width: 1700px;
  background-color: white;
  transition: all 0.4s ease-in-out;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

main .logo-and-nav-div {
  grid-row: 1 / span 7;
  grid-column: 1 / span 8;
  background-image: url("Assets/desktop-image-hero-1.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
}

main .logo-and-nav-div.slide-1 {
  /*To be added and removed with Javascript*/
  background-image: url("Assets/desktop-image-hero-1.jpg");
}

main .logo-and-nav-div.slide-2 {
  /*To be added and removed with Javascript*/
  background-image: url("Assets/desktop-image-hero-2.jpg");
}

main .logo-and-nav-div.slide-3 {
  /*To be added and removed with Javascript*/
  background-image: url("Assets/desktop-image-hero-3.jpg");
}

main .arrows {
  grid-row: 7 / span 1;
  grid-column: 9 / span 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

main .arrows .prev {
  cursor: pointer;
  padding: 18%;
}

main .arrows .prev:hover {
  background-color: #454545;
}

main .arrows .next {
  cursor: pointer;
  padding: 18%;
}

main .arrows .next:hover {
  background-color: #454545;
}

main .main-statement {
  grid-row: 1 / span 7;
  grid-column: 9 / span 6;
}

main .dark-furniture {
  grid-row: 8 / span 5;
  grid-column: 1 / span 4;
  background-image: url("Assets/image-about-dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

main .about {
  grid-row: 8 / span 5;
  grid-column: 5 / span 5;
}

main .light-furniture {
  grid-row: 8 / span 5;
  grid-column: 10 / span 5;
  background-image: url("Assets/image-about-light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.logo-nav-items {
  padding: 40px 10px 40px 50px;
  display: flex;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.logo-nav-items.active {
  background-color: white;
  box-shadow: 10px 10px 0px 1000px rgba(0, 0, 0, 0.5);
}

nav ol {
  display: flex;
}

.hamburger-container {
  background-image: url("Assets/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 5%;
  width: 20px;
  height: 20px;
  display: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

ol li {
  font-weight: 700;
  margin-right: 25%;
  list-style-type: none;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}

ol li::before {
  background-color: white;
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  left: 20%;
  top: 120%;
  transition: all 0.2s ease-in-out;
  transform: scale(0);
  transform-origin: center;
}

ol li:hover::before {
  transform: scale(1);
}

ol li a {
  color: white;
  text-decoration: none;
}

ol li a.active {
  color: black;
}

.logo {
  margin-right: 8%;
  cursor: pointer;
}

.logo.active {
  display: none;
}

.header-arrows {
  display: none;
}

.main-statement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
  overflow: hidden;
}

.main-statement h1 {
  font-size: clamp(1.8rem, 2.3vw, 2.7rem);
  padding-right: 10%;
}

.main-statement p {
  color: #454545;
  font-size: clamp(0.4rem, 0.8vw, 1.8rem);
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0.7;
  padding-right: 10%;
  width: 100%;
}

.main-statement .shop-CTA {
  display: flex;
  cursor: pointer;
}

.main-statement .shop-CTA:hover h3 {
  color: rgba(69, 69, 69, 0.5);
}

.main-statement .shop-CTA:hover img {
  filter: invert(0.7);
}

.main-statement .shop-CTA h3 {
  margin-right: 30px;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 1.1vw;
}

.main-statement .shop-CTA img:hover {
  transition: transform 0.2s ease-in-out;
}

.main-statement .shop-CTA img:hover:hover {
  transform: translateX(15px) scale(1.5);
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 3rem;
}

.about h1 {
  font-size: clamp(0.3rem, 1.1vw, 1.3rem);
  text-transform: uppercase;
  margin-bottom: 15px;
}

.about p {
  color: #454545;
  font-size: clamp(0.7rem, 0.8vw, 1.2rem);
  font-weight: 500;
  opacity: 0.7;
}

.header-text {
  display: flex;
  width: 330%;
  transition: all 0.5s ease-in-out;
}

.body-text {
  display: flex;
  width: 330%;
  transition: all 0.5s ease-in-out;
}
/*# sourceMappingURL=style.css.map */